nav{
  display: flex;
  justify-content: space-around;
  background-color: rgb(88, 88, 88);
  padding: 10px;
  color: white;
}
a{
  background-color: white;
  padding: 8px;
  color: black;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
}
